* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background-color:  #131313;
}
/* DIV home */
.home h1 {
    text-align: center;
    margin: 40px;
    color: aliceblue;
}
.home h2 {
    color: aliceblue;
    text-align: center;
}
.home a{
    color: aliceblue;
}
